@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 589px) {
  .hidden-on-small {
    display: none;
  }
  .clear-margins{
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes scaleInfinity {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
}

.animated-infinity {
  animation: scaleInfinity 1s infinite;
}

.rainbow-bg {
  background: linear-gradient(90deg, 
    green, 
    rgb(219, 116, 116), 
    rgb(126, 126, 220), 
    violet
  );
}

@keyframes fadeToGreen {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #8ac926; 
  }
  100% {
    background-color: transparent;
  }
}

.animate-green {
  animation: fadeToGreen 0.5s ease-in-out forwards; 
}


